body{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
}
.Header{
    background-color: #1f2937;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 10px;
}

.left {
    display: flex;
    align-items: center;
}

.right{
    display: flex;
    align-items: center;
}
.logo img{
    max-width: 65px;
    max-height: 65px;
    width: auto;
    height: auto;
    border-radius: 50%;
    margin-left: 325px;
}
.headerTitle{
    margin: 10px;
    color: #f9faf8;
    font-size: 24px;
}
.links{
    margin-right: 300px;
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: #f9faf8;
}

.Hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 125px;
}

.leftHero{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 300px;
    
}

.heroTitle{
    display: flex;
    color: #f9faf8;
    font-size: 30px;
}
.heroText{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
p {
    color: #f9faf8;
    margin: 0px;
    font-size: 16px;
}
.heroButton{
  
    margin-top: 10px;
  
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border-color: #3882f6;
    border-radius: 10px;
    color: #f9faf8;
    width: 75px
}

.rightHero {
    display: flex;
}

.heroPic {
    display: flex;
    width: 400px;
    height: 300px;
}

.infoSec{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.infoContainer {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
  
}
.infoTitle{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    margin-top:  50px;
    margin-bottom: 50px;
    max-width: 500px;
}

.infoPics img{
    display: flex;
    max-width: 200px;
    border: 3px solid skyblue;
    border-radius: 10px;
    justify-content: center;
}

